<%-include("partials/header") %>
<h1>Create Your Blog</h1>
<form action="/createBlog" method="POST">
    <input type="text" name="blogTitle" placeholder="Blog Title">
    <textarea id="blog" name="blogContent" cols="50"></textarea>
    <input type="submit" value="Submit">
  </form>

<%-include("partials/footer") %>