<%-include("partials/header") %>
<!-- landing page goes here -->
 <h1>Welcome to the Blog Site</h1>
 <button><a href="/createBlog">Create New Blog</a></button>
 <button><a href="/viewBlog">view Blogs</a></button>
<%-include("partials/footer") %>
    
